
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categories</h1>
<ul>
    <li>
        <a asp-controller="Categories" asp-action="Details" asp-route-category="Food">Food</a>
    </li>
    <li>
        <a asp-controller="Categories" asp-action="Details" asp-route-category="Tech">Tech</a>
    </li>
    <li>
        <a asp-controller="Categories" asp-action="Details" asp-route-category="Sports">Sports</a>
    </li>
</ul>

